* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}
.App {
  text-align: center;
}
h1 {
  font-family: 'Playfair Display', serif;
}
body{
  background-image: linear-gradient(to right, rgb(73, 72, 72), rgb(255, 255, 255), rgb(73, 72, 72));
  min-height: 100%;
}

/* Details of individual convention with list of celebs */
.celebrity-table {
  width: 90%;
  margin: auto;
}
.add-new-celeb-title {
  margin-top: 20px;
  font-size: 22px;
}
.solo-convention-title{
  margin-top: 1px;
  font-size: 50px;
  color: black;
  text-shadow: 3px 3px 3px rgb(217, 246, 255);
}
.all-conventions-header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.all-conventions-header span {
  border: 1px solid black;
  background-color: rgb(219, 238, 255);
  padding: 5px;
  border-radius: 10px;
}
.header-link {
  text-decoration: none;
}
.celeb-checklist-title {
  font-size: 22px;
  text-align: left;
  margin-left: 7%;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  width: 210px;
  text-shadow: 0px 0px 9px rgb(1, 255, 35);
}
.all-celeb-boxes {
  display: flex;
  margin: auto;
  width: 96%;
  margin-bottom: 45px;
}
.celeb-info-display td {
  border: 2px solid black;
  border-radius: 5px;
  padding: 4px 12px;
  background-color:rgb(255, 232, 206);
  font-family: Georgia, "Times New Roman";
  font-size: 18px;
}
.celeb-table-headings th {
  border: 2px solid black;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 18px;
  padding: 5px;
}
.display-image {
  width: 100px;
  height: 120px;
  object-fit: cover;
}
.edit-celeb-button{
  padding: 15px;
  font-family: Georgia, "Times New Roman";
  font-size: 14px;
}
td.celeb-list-name {
  font-size: 20px;
}
/* LIST ALL CONVENTIONS */
.conventions-table {
  margin: auto;
}
.convention-header-row th{
  border: 1px solid black;
  background-color: rgb(32, 30, 30);
  color: white;
}
.convention-row td{
  padding: 20px;
  border: 1px solid black;
  font-family: Georgia, "Times New Roman";
}
.cell {
  background-image: linear-gradient(to bottom right, rgb(252, 220, 161), rgb(253, 232, 199), rgb(250, 237, 223), rgb(253, 222, 167))
}
.cell-name{
  background-color: rgb(159, 253, 209);
}
.cell-details {
  font-size: 18px;
  background-color: rgb(255, 255, 255);
}
.cell-delete {
  background-color: pink;
}
.convention-list {
  margin-left: 20px;
}

/* CELEBRITY FORM */
.celebrity-form {
  border: 3px solid black;
  border-radius: 10px;
  text-align: left;
  width: 25%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 14px;
  background-image: linear-gradient(to bottom right, rgb(192, 113, 10), rgb(245, 215, 158), rgb(255, 136, 0), rgb(22, 6, 15))
}
.celebrity-form input {
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  padding: 1.5px;
  width: 99%;
}
input.add-celebrity-button {
  width: 115px;
  padding: 5px;
  font-size: 16px;
}

/* CONVENTION FORM PAGE */
.convention-form-container {
  margin: auto;
  width: 45%;
}
.conventionForm {
  border: 1px solid black;
  margin: 30px 20px;
  padding: 15px;
  background-image: linear-gradient(to bottom right, rgb(240, 166, 70), rgb(253, 227, 203), rgb(240, 166, 70));
  border-radius: 30px;
}
input.create-convention-button {
  margin: auto;
  margin-top: 15px;
  width: 150px;
  margin-bottom: 15px;
  padding: 7px 15px;
  background-color: rgb(243, 139, 21);
}
.convention-form-div {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.convention-form-div input {
  width: 40%;
}
.convention-form-div p{
  font-size: 12px;
}
span.your-conventions-link  {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.header-link-convention {
  text-decoration: none;
  background-color: rgb(219, 238, 255);
  padding: 5px;
  border-radius: 50px;
}

/* EDIT CELEBRITY PAGE */
.edit-celebrity-button {
  padding: 6px 12px;
  background-color: pink;
  margin: 7px;
}
.display-image-2 {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 25px;
}
.cancel-edit-button {
  padding: 6px 12px;
  background-color: cornsilk;
  margin: 7px;
}
.edit-this-celebrity {
  font-size: 22px;
  margin: 14px 5px;
}
.celebrity-update-form {
  border: 2px solid black;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  background-image: linear-gradient(to bottom right, rgb(219, 136, 27), rgb(140, 20, 220))
}
.edit-div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 22px;
}
.edit-div input {
  width: 50%;
}
.edit-div label{
  margin: 5px 10px;
  font-size: 19px;
}

/* HEADER STYLING */
.main-header {
  width: 60%;
  padding: 15px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.main-header button {
  background-color: skyblue;
  padding: 6px 10px;
  border-radius: 10px;
  letter-spacing: 2px;
}

/* LOGIN FORM */
.login-container {
  width: 50%;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 15px lightgray;
  background-color: white;
}
.login-form{
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.login-form-div {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
  margin: 10px auto;
}
.login-form-div input {
  padding: 5px;
}
.login-submit-button {
  background-color: cornsilk;
  padding: 8px 18px;
  border-radius: 10px;
  margin: 10px;
}
.login-title {
  margin-top: 10px;
}

/* REGISTER FORM */
.register-container {
  width: 50%;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 15px lightgray;
  background-color: white;
}
.register-form {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.register-form-div {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
  margin: 10px auto;
}
.register-form-div input{
  padding: 5px;
}
.register-submit-button {
  background-color: cornsilk;
  padding: 8px 18px;
  border-radius: 10px;
  margin: 10px auto;
}

/* FOOTER */
.footer-div {
  text-align: center;
  bottom: 0;
  width: 100%;
  margin: 8px auto;
  position: fixed;
  z-index: -1
}
.footer-div h4{
  margin-bottom: 2px;
}

/* HOME PAGE */
.home-table {
  width: 95%;
  margin: auto;
  margin-bottom: 40px;
}
.home-page-image {
  width: 90%;
  object-fit: cover;
}
.home-message {
  margin-bottom: 25px;
}
.home-message p {
  background-color: cornsilk;
  width: 85%;
  margin: auto;
  padding: 16px 20px;
  box-shadow: 0px 0px 16px rgb(255, 166, 0);
  border-radius: 50px;
}
.home-table-image-cell {
  background-color: black;
}
.home-table td{
  border: 1px solid black;
}
.p-cell {
  background-color: rgb(255, 194, 124);
  padding: 7px;
  line-height: 24px;
}
.h-cell {
  padding: 8px;
  font-size: 28px;
  width: 33%;
  text-shadow: 0px 0px 4px beige;
}

/* Responsive Design for tablet 750 pixels width */

@media only screen and (max-width: 750px) {
  body {
    margin: 0;
    padding: 0;
    max-width: 90%;
    font-size: 9px;
  }
  .App {
    margin: auto;
  }
  .convention-list {
    width: 90%;
    margin: auto;
  }
  .main-header button{
    padding: 3px;
    max-width: 20%;
    font-size: 8px;
    margin: auto;
  }
  .main-header {
    width: 90%;
    margin: auto;
  }
  input.add-celebrity-button {
    max-width: 70%;
    margin: auto;
    font-size: 7px;
  }
  .celebrity-table td {
    width: 50%;
    font-size: 9px;
    padding: 0;
    margin: 0
  }
  .celebrity-table th {
    width: 50%;
    font-size: 9px;
    padding: 0;
    margin: 0
  }
  .met-button,
  .create-convention-button,
  .delete-btn,
  .edit-celeb-button {
    max-width: 90%;
    font-size: 7px;
  }
  img.display-image,
  img.display-image2 {
    width: 90%;
    margin: auto;
    object-fit: contain;
  }
  .celebrity-update-form {
    width: 90%;
    margin: auto;
  }
  div.home-container {
    width: 95%;
    margin: auto;
  }
  #city-list-menu {
    width: 70%;
    font-size: 8px;
  }
  .conventions-table {
    width: 90%;
    margin: auto;
  }
  .cell-details a {
    font-size: 11px;
  }
}
